<% recipes.each do |recipe| %>
  <div class="col">
    <div class="card border-white">
      <div class="card-body mx-auto ">
        <%= link_to recipe_path(recipe.id) do %>
          <% if recipe.image.attached? %>
            <%= image_tag recipe.image, size: "150x150" %>
          <% else %>
            <%= image_tag 'no_image', size: "150x150" %>
          <% end %>
        <% end %>
      </div>
      <div class="card-title text-center">
        <%= recipe.title %>
      </div>
    </div>
  </div>
<% end %>
