<div class="container">
  <h2 class="h2">みんなのレシピ</h2>
    <div class="row">
      <%= render 'recipe_card', recipes: @recipes %>
    </div>
    <div class="row">
      <div class="col-md-2 mb-3 offset-5">
        <%= paginate @recipes %>
      </div>
    </div>
</div>

