<footer class="footer" style="background-color:#f9ca48;">
  <a>Hi! Recipes</a><br>
  <%= link_to "photo-ac", "https://www.photo-ac.com/", class: "text-body" %><br>
  <%= link_to "canva", "https://www.canva.com/", class: "text-body" %><br>
  <%= link_to "admin", new_admin_session_path, class: "text-body" %>
</footer>
